{% extends 'layout/header.html' %}
{% block title %} Productos {% endblock %}

{% block content %}
{% if productos %}
{% include 'layout/menu.html' %}
<br>
<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
  <h1 class="text-center t">Lista de Productos</h1>
  <div class="container">
    <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#agregarProductoModal">Crear nuevo
      Producto</button> <br> <br>

    <!-- Agregar un formulario de búsqueda en tu plantilla -->
    <form method="POST" action="/buscar_productos">
      <div class="input-group mb-3">
        <input type="text" class="form-control" name="termino_busqueda" placeholder="Buscar productos..."> <br>
        <button class="btn btn-primary" type="submit">Buscar</button>
      </div>
    </form> <br> <br>
    <table class="table table-striped">
      <thead class="table-dark">
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Descripcion</th>
          <th scope="col">Precio costo</th>
          <th scope="col">Precio venta</th>
          <th scope="col">Cantidad</th>
          <th scope="col">Eliminar</th>
          <th scope="col">Editar</th>
          <th scope="col">Detalle</th>
        </tr>
      </thead>
      <tbody>
        {% for producto in productos %}
        <tr>
          <th scope="row">{{ producto.id }}</th>
          <td>{{ producto.descripcion }}</td>
          <td>{{ producto.precio_costo }}</td>
          <td>{{ producto.precio_venta }}</td>
          <td>{{ producto.cantidad }}</td>
          <td><a class="btn btn-danger" href="/eliminar_producto/{{ producto.id }}">Eliminar</a></td>
          <td>
            <button class="btn btn-warning btn-sm" data-bs-toggle="modal"
              data-bs-target="#editarProductoModal{{ producto.id }}">Editar</button>
          </td>
          <td>
            <button class="btn btn-info btn-sm" data-bs-toggle="modal"
              data-bs-target="#verProductoModal{{ producto.id }}">Ver</button>
          </td>
        </tr>
        <!-- Modal para ver detalles del producto -->
        <div class="modal fade" id="verProductoModal{{ producto.id }}" tabindex="-1" role="dialog"
          aria-labelledby="verProductoModalLabel{{ producto.id }}" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="verProductoModalLabel{{ producto.id }}">Detalles del Producto</h5>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body" id="tarjetaP">
                <div class="info-producto">
                  <p>ID: {{ producto.id }}</p>
                  <p>Descripción: {{ producto.descripcion }}</p>
                  <p>Precio Costo: {{ producto.precio_costo }}</p>
                  <p>Precio Venta: {{ producto.precio_venta }}</p>
                  <p>Cantidad: {{ producto.cantidad }}</p>
                  <p>Ubicación: {{ producto.ubicacion }}</p>
                  <p>Categoría: {{ producto.id_categoria }}</p>
                </div>
                <div class="imagen-producto">
                  <img src="{{ url_for('mostrar_imagen', imagen_id=producto.id) }}" alt="Producto Image">
                </div>
              </div>

            </div>
          </div>
        </div>
        <!-- Modal para editar producto -->
        <div class="modal fade" id="editarProductoModal{{ producto.id }}" tabindex="-1" role="dialog"
          aria-labelledby="editarProductoModalLabel{{ producto.id }}" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="editarProductoModalLabel{{ producto.id }}">Editar Producto</h5>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <form method="POST" action="/editar_producto/{{ producto.id }}" enctype="multipart/form-data">
                  <label>Descripcion</label>
                  <input type="text" class="form-control" name="nuevo_descripcion" value="{{ producto.descripcion }}">
                  <label>Precio costo</label>
                  <input type="text" class="form-control" name="nuevo_precio_costo" value="{{ producto.precio_costo }}">
                  <label>Precio venta</label>
                  <input type="text" class="form-control" name="nuevo_precio_venta" value="{{ producto.precio_venta }}">
                  <label>Cantidad</label>
                  <input type="text" class="form-control" name="nuevo_cantidad" value="{{ producto.cantidad }}">
                  <label>Foto</label>
                  <input type="FILE" class="form-control" name="nuevo_foto" value="{{ producto.foto }}">
                  <label>Ubicacion</label>
                  <input type="text" class="form-control" name="nuevo_ubicacion" value="{{ producto.ubicacion }}">
                  <label>Categoria</label>
                  <input type="text" class="form-control" name="nuevo_id_categoria" value="{{ producto.id_categoria }}">
                  <br>
                  <button type="submit" id="guardarCambiosBoton" class="btn btn-warning">Guardar cambios</button>
                </form>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </tbody>
    </table>
  </div>

  <!-- Modal para agregar producto -->
  <div class="modal fade" id="agregarProductoModal" tabindex="-1" role="dialog"
    aria-labelledby="agregarProductoModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="agregarProductoModalLabel">Registro de productos</h5>

          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form method="POST" action="/agregar_producto" enctype="multipart/form-data">
            <label>Descripcion</label>
            <input type="text" class="form-control" name="descripcion" required>
            <label>¨Precio costo</label>
            <input type="text" class="form-control" name="precio_costo" required>
            <label>¨Precio venta</label>
            <input type="text" class="form-control" name="precio_venta" required>
            <label>¨Cantidad</label>
            <input type="text" class="form-control" name="cantidad" required>
            <label>Foto</label>
            <input type="file" class="form-control" name="foto" accept="image/*" required> 
            <label>Ubicacion</label>
            <input type="text" class="form-control" name="ubicacion" required>
            <label for="id_categoria">Categoría:</label>
            <input type="text" class="form-control" name="id_categoria" required>
            <button type="submit" class="btn btn-primary">Crear</button>
          </form>
        </div>
      </div>
    </div>
  </div>


  <!-- Botón para descargar el archivo Excel -->
  <a class="btn btn-success" href="{{ url_for('descargar_productos') }}">Descargar Excel</a> 
  <br> <br>

  {% else %}
  <p>No hay datos</p>
  {% endif %}

</main>



{% endblock %}