*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    

}



/*ESTILOS FORMULARIO DE LOGIN*/

.caja{
    margin: 10%;
    margin-left: 35%;
    margin-right: 35%;
}

/*ESTILOS PANEL USUARIO Y ADMINISTRADOR*/
#contenido{
  margin: 0 auto;
}

#contenido h1{
  text-align: center;
}

.card{
  background-color:rgb(13, 255, 98);
  padding: 1em;
  text-align: center;
}
.card img{
  margin: auto;
  width: 40%;
  cursor: pointer;
}


  

    .info-producto {
        flex: 1; /* Toma el espacio restante en el contenedor */
        padding: 10px; /* Añadir espaciado interno para separar los detalles */
    }

    .imagen-producto {
      display: flex;
      justify-content: center; /* Centra horizontalmente */
      align-items: center; /* Centra verticalmente */
      height: 300px; /* Ajusta la altura del contenedor según tus necesidades */
      border: 1px solid #ccc; 
    
       
    }

    .imagen-producto img{
      margin: auto;
      padding: 1em;
      max-width: 90%; /* Asegura que la imagen no supere el ancho del contenedor */
      max-height: 90%; /* Asegura que la imagen no supere la altura del contenedor */
       
    }


    .feather {
      width: 16px;
      height: 16px;
      vertical-align: text-bottom;
    }
    
    /*
     * Sidebar
     */
    
    .sidebar {
      position: fixed;
      top: 0;
      /* rtl:raw:
      right: 0;
      */
      bottom: 0;
      /* rtl:remove */
      left: 0;
      z-index: 100; /* Behind the navbar */
      padding: 48px 0 0; /* Height of navbar */
      box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
    }
    
    @media (max-width: 767.98px) {
      .sidebar {
        top: 5rem;
      }
    }
    
    .sidebar-sticky {
      position: relative;
      top: 0;
      height: calc(100vh - 48px);
      padding-top: .5rem;
      overflow-x: hidden;
      overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    }
    
    .sidebar .nav-link {
      font-weight: 500;
      color: #333;
    }
    
    .sidebar .nav-link .feather {
      margin-right: 4px;
      color: #727272;
    }
    
    .sidebar .nav-link.active {
      color: #2470dc;
    }
    
    .sidebar .nav-link:hover .feather,
    .sidebar .nav-link.active .feather {
      color: inherit;
    }
    
    .sidebar-heading {
      font-size: .75rem;
      text-transform: uppercase;
    }
    
    /*
     * Navbar
     */
    
    .navbar-brand {
      padding-top: .75rem;
      padding-bottom: .75rem;
      font-size: 1rem;
      background-color: rgba(0, 0, 0, .25);
      box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
    }
    
    .navbar .navbar-toggler {
      top: .25rem;
      right: 1rem;
    }
    
    .navbar .form-control {
      padding: .75rem 1rem;
      border-width: 0;
      border-radius: 0;
    }
    
    .form-control-dark {
      color: #fff;
      background-color: rgba(255, 255, 255, .1);
      border-color: rgba(255, 255, 255, .1);
    }
    
    .form-control-dark:focus {
      border-color: transparent;
      box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
    }

    .bd-placeholder-img {
      font-size: 1.125rem;
      text-anchor: middle;
      -webkit-user-select: none;
      -moz-user-select: none;
      user-select: none;
    }

    @media (min-width: 768px) {
      .bd-placeholder-img-lg {
        font-size: 3.5rem;
      }
    }