{% extends 'layout/header.html' %}
{% block content %}
<header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
  <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3" href="#">HYDROACERO S.A.S</a>
  <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse"
    data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
</header>
<div class="container-fluid">
  <div class="row">
    <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
      <div class="position-sticky pt-3">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="/admin">
              INICIO
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/listar_usuarios">
              USUARIOS
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/productosA">
              PRODUCTOS
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/transacciones">
              <span data-feather="shopping-cart"></span>
              TRNSACCIONES
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/logout">
              <span data-feather="users"></span>
              CERRAR SESION
            </a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</div>
    
    {% endblock %}
